<%- include("partials/head.ejs", {title: "Create"}) %>
<body>
  <form action="/create" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="number" placeholder="age" name="age">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="confirm password" name="confirm">
    <button type="submit">Registrar</button>
  </form>
</body>
</html>